@*<h6>PLAN VS ACTUAL</h6>*@
@*<div>
    &nbsp;<br>
</div>
<div style="position: absolute; left: 342px; top: 55px;">
      <img id="rpp_savedata_btn" width="25" height="25" src="../Images/diskette.png" /><span id="rpp_savedata_link" class="btn_label_span">Save</span>
</div>*@
@*<div id="pageNavPosition" style="float: right;"></div>
<table>
    <tr>
        <td><span class="ref_text_label">Please select month and year:</span></td>
        <td>
            <input type="text" id="ref_rppm_date" class="mbf_date" style="border: solid 1px black;" title="Filter by Month and Year" />
        </td>
    </tr>
</table>*@
<ul>
    <li>
        <img id="rpp_savedata_btn" width="25" height="25" src="../Images/diskette.png" onclick="save_ref_rpp_monthly();" /><span id="rpp_savedata_link" class="btn_label_span" onclick="save_ref_rpp_monthly();">Save</span>
    </li>
</ul>
<div id="refinery_plan_right_div">
    @*<ul class="tabs-menu">
        <li class="current"><a href="#tab-1"><b>Crop Data</b></a></li>
          <li><a href="#tab-2"><b>Second Crop Data</b></a></li>
        <li><a href="#tab-3"><b>Third Crop Data</b></a></li>
         <li><a href="#tab-4"><b>Fourth Crop Data</b></a></li>
    </ul>*@
    <!--------------------------------------------------------------------------- Tab 1 ----------------------------------------------------------->
    <div @*id="tab-1" class="tab-content-pass"*@>
        <br>
        <h6>TH1 KAH LIMIT / SHORT CIRCUITING SCHEDULE</h6>
        <br>
        <table class="rpp_refine_tablemonth" id="rpp_refine_tablemonth">
            <tr>
                <td>Date Reading Taken:</td>
                <td>
                    <input type="text" id="rppmt_monthly_date_1" class="ref_date " value="@ViewBag.timenow.ToString("MM/dd/yyyy")"/></td>
                <td>Scrap ratio %:</td>
                <td>
                    <input type="text" id="rppm_scrapratio_6" onkeypress="return NumericOnly(event)" class="extratbl_input" /></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td>
                    <select id="start_time_hr_ref_edit_act_1" class="ref_hr ">
                        @{
                            int hr;
                            int min_ = Int32.Parse(ViewBag.timenow.ToString("mm"));
                            if (min_ == 60)
                            {

                                hr = Int32.Parse(ViewBag.timenow.ToString("HH"));

                            }
                            else
                            {
                                hr = Int32.Parse(ViewBag.timenow.ToString("HH"));
                            }


                            for (int x = 0; x <= 23; x++)
                            {
                                if (@x <= 9)
                                {

                                    if (@x == @hr)
                                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                    else
                                    { <option value="@x">@("0" + @x)</option> }
                                }


                                else
                                {

                                    if (@x == @hr)
                                    {  <option value="@x" selected="selected">@x</option> }
                                    else
                                    { <option value="@x">@x</option> }


                                }
                            }
                        }


                    </select>&nbsp;:
            <select id="start_time_min_ref_edit_act_1" class="ref_min ">
                @{
                    int min = Int32.Parse(ViewBag.timenow.ToString("mm"));


                    for (int x = 0; x <= 59; x++)
                    {
                        if (@x <= 9)
                        {

                            if (@x == @min)
                            {  <option value="@x" selected="selected">@("0" + @x)</option> }
                            else
                            { <option value="@x">@("0" + @x)</option> }
                        }


                        else
                        {

                            if (@x == @min)
                            {  <option value="@x" selected="selected">@x</option> }
                            else
                            { <option value="@x">@x</option> }


                        }
                    }
                }
            </select>
                </td>
                <td>Elution Ratio:</td>
                <td>
                    <input type="text" id="rppm_elutionratio_7" onkeypress="return NumericOnly(event)" class="extratbl_input" /></td>
            </tr>
            <tr>
                <td>Current Setting KA:</td>
                <td>
                    <input type="text" id="rppm_cursetka_2" onkeypress="return NumericOnly(event)" class="extratbl_input" /></td>
                <td>Current Efficiency %:</td>
                <td>
                    <input type="text" id="rppm_curreff_9" onkeypress="return NumericOnly(event)" class="extratbl_input" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Current Setting Adjustment:</td>
                <td>
                    <input type="text" id="rppmt_curset_adjustment_4" class="ref_date"  onkeypress="return NumericOnly(event)" value="@ViewBag.timenow.ToString("MM/dd/yyyy")"/></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td>
                    <select id="start_time_hr_ref_edit_act_4" class="ref_hr ">
                        @{               
  
                            if (min_ == 60)
                            {

                                hr = Int32.Parse(ViewBag.timenow.ToString("HH"));

                            }
                            else
                            {
                                hr = Int32.Parse(ViewBag.timenow.ToString("HH"));
                            }


                            for (int x = 0; x <= 23; x++)
                            {
                                if (@x <= 9)
                                {

                                    if (@x == @hr)
                                    {  <option value="@x" selected="selected">@("0" + @x)</option> }
                                    else
                                    { <option value="@x">@("0" + @x)</option> }
                                }


                                else
                                {

                                    if (@x == @hr)
                                    {  <option value="@x" selected="selected">@x</option> }
                                    else
                                    { <option value="@x">@x</option> }


                                }
                            }
                        }
                    </select>&nbsp;:
            <select id="start_time_min_ref_edit_act_4" class="ref_min ">
                @{
                    int mine_ = Int32.Parse(ViewBag.timenow.ToString("mm"));

                    for (int x = 0; x <= 59; x++)
                    {
                        if (@x <= 9)
                        {

                            if (@x == @mine_)
                            {  <option value="@x" selected="selected">@("0" + @x)</option> }
                            else
                            { <option value="@x">@("0" + @x)</option> }
                        }


                        else
                        {

                            if (@x == @mine_)
                            {  <option value="@x" selected="selected">@x</option> }
                            else
                            { <option value="@x">@x</option> }


                        }
                    }
                }
            </select>
                </td>
            </tr>
            <tr>
                <td>Effective Current Used, kA :</td>
                <td>
                    <input type="text" id="rppm_effcursetka_5" onkeypress="return NumericOnly(event)" class="extratbl_input" /></td>
            </tr>
        </table>


        <table class="rpp_refine_table" id="rppmothly_crop1_data_tbl">
            <tr class="expand">
                <th colspan="11">TH1 KAH LIMIT / SHORT CIRCUITING SCHEDULE<span class="sign" style="float: right"></span></th>
            </tr>
            <tr class="rppmtr">
                <th style="width: 3%;">Exchange Date</th>
                <th style="width: 1%;">Block</th>
                <th style="width: 1%;">Crop</th>
                <th style="width: 5%;">Net KAH RDNGS</th>
                <th style="width: 4%;">Anode Charge MT</th>
                <th style="width: 4%;">Anode wt/pc kg</th>
                <th style="width: 5%;">Elapse Net KAH</th>
                <th style="width: 5%;">Current EFF %</th>
                <th style="width: 5%;">Required KAH</th>
                <th style="width: 5%;">Date Time(hh:mm)</th>
                <th style="width: 4%;">Scrap Ratio %</th>
            </tr>
        </table>
    </div>
    <!------------------------------------------------------------------------Tab 2 ------------------------------------------------------------------>
    <div id="tab-2" class="tab-content-pass">
        <table class="rpp_refine_table" id="rppmothly_crop2_data_tbl">
            <tr class="expand">
                <th colspan="10">Second Crop Data<span class="sign" style="float: right"></span></th>
            </tr>
            <tr class="rppmtr">
                <th style="width: 1%;">Block</th>
                <th style="width: 1%;">Crop</th>
                <th style="width: 5%;">Net KAH RDNGS</th>
                <th style="width: 5%;">Anode Charge MT</th>
                <th style="width: 5%;">Anode wt/pc kg</th>
                <th style="width: 5%;">Elapse Net KAH</th>
                <th style="width: 5%;">Current EFF %</th>
                <th style="width: 5%;">Required KAH</th>
                <th style="width: 5%;">Date Time(hh:mm)</th>
                <th style="width: 5%;">Scrap Ratio %</th>
            </tr>
        </table>
    </div>
    <!------------------------------------------------------------------------Tab 3 ------------------------------------------------------------------>
    <div id="tab-3" class="tab-content-pass">
        <table class="rpp_refine_table" id="rppmothly_crop3_data_tbl">
            <tr class="expand">
                <th colspan="10">Third Crop Data<span class="sign" style="float: right"></span></th>
            </tr>
            <tr class="rppmtr">
                <th style="width: 1%;">Block</th>
                <th style="width: 1%;">Crop</th>
                <th style="width: 5%;">Net KAH RDNGS</th>
                <th style="width: 5%;">Anode Charge MT</th>
                <th style="width: 5%;">Anode wt/pc kg</th>
                <th style="width: 5%;">Elapse Net KAH</th>
                <th style="width: 5%;">Current EFF %</th>
                <th style="width: 5%;">Required KAH</th>
                <th style="width: 5%;">Date Time(hh:mm)</th>
                <th style="width: 5%;">Scrap Ratio %</th>
            </tr>
        </table>
    </div>
    <!------------------------------------------------------------------------Tab 4 ------------------------------------------------------------------>
    @* <div id="tab-4" class="tab-content-pass">
        <table class="rpp_refine_table" id="rppmothly_crop4_data_tbl">
            <tr class="expand">
                <th colspan="10">Fourth Crop Data<span class="sign" style="float: right"></span></th>
            </tr>
            <tr class="rppmtr">
                <th style="width: 1%;">Block</th>
                <th style="width: 1%;">Crop</th>
                <th style="width: 5%;">Net KAH RDNGS</th>
                <th style="width: 5%;">Anode Charge MT</th>
                <th style="width: 5%;">Anode wt/pc kg</th>
                <th style="width: 5%;">Elapse Net KAH</th>
                <th style="width: 5%;">Current EFF %</th>
                <th style="width: 5%;">Required KAH</th>
                <th style="width: 5%;">Date Time(hh:mm)</th>
                <th style="width: 5%;">Scrap Ratio %</th>
            </tr>
        </table>
    </div>*@
    <div id="Dialog_Refinery_ProdPlanMonth_EditDate" style="overflow: hidden;"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {           

        //load_block_prod_plan_month();
        //load_rpp_refine_tablemonth();

        $("#rppmt_monthly_date_1").datepicker({
            showOn: 'button',
            buttonText: 'Show Date',
            buttonImageOnly: true,
            buttonImage: serverpath + '/Images/calendar.png',
            dateFormat: 'mm/dd/yy',
            constrainInput: false,
            maxDate: null,

        });

        $("#rppmt_curset_adjustment_4").datepicker({
            showOn: 'button',
            buttonText: 'Show Date',
            buttonImageOnly: true,
            buttonImage: serverpath + '/Images/calendar.png',
            dateFormat: 'mm/dd/yy',
            constrainInput: false,
            maxDate: null,

        });

        //$("#ref_rppm_date").datepicker({
        //    changeMonth: true,
        //    changeYear: true,
        //    dateFormat: 'MM yy',
        //    showButtonPanel: true,
        //    onClose: function () {
        //        var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
        //        var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
        //        $(this).datepicker('refresh');
        //        $(".ui-datepicker-calendar").hide();
        //        $('thead #tr_param').remove();
        //        $('#tbody tr').filter(function () {
        //            return $(this).has('input');
        //        }).remove();
        //        load_block_prod_plan_month();
        //        load_rpp_refine_tablemonth(iMonth, iYear);

        //    },

        //    beforeShow: function () {
        //        if ((selDate = $(this).val()).length > 0) {
        //            iYear = selDate.substring(selDate.length - 4, selDate.length);
        //            iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
        //            $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
        //            $(this).datepicker('setDate', new Date(iYear, iMonth, 1));                  
        //        }
        //    }
        //});

        //$("#ref_rppm_date").focus(function () {
        //    $(".ui-datepicker-calendar").hide();
        //    $("#ui-datepicker-div").position({
        //        my: "center top",
        //        at: "center bottom",
        //        of: $(this)
        //    });
        //});

        //$("#ref_rppm_date").blur(function () {
        //    $(".ui-datepicker-calendar").hide();
        //});

        //$('#ref_rppm_date').datepicker('setDate', 'today');

        //$(".ui-datepicker-trigger").mouseover(function () {
        //    $(this).css('cursor', 'pointer');
        //});

        //$("#ui-datepicker-div").hide();

        $(".tabs-menu a").click(function (event) {
            event.preventDefault();
            $(this).parent().addClass("current");

            $(this).parent().siblings().removeClass("current");

            var tab = $(this).attr("href");
            $(".tab-content-pass").not(tab).css("display", "none");
            $(tab).fadeIn();
        });
        $('#Dialog_Refinery_ProdPlanMonth_EditDate').dialog({
            modal: true,
            autoOpen: false,
            resizable: false,
            draggable: true,
            show: "slideUp",
            width: 450,
            height: 450,
            title: 'Modify Date/Time',
            closeText: 'Close [X]',
            //position: { my: "center", at: "center", of: window },
            open: function (event, ui) {
                $(event.target).parent().css('position', 'fixed');
                $(event.target).parent().css('top', '200px');
            },
        });

        $("#rpp_refine_tablemonth input").change(
                      function () {
                          if ($(this).val() == '') {
                              $(this).css({ 'background-color': '#ffffcc' });
                              //$(this).removeClass('changed');
                              $(this).addClass('changed');
                          } else {  
                              $(this).css({ 'background-color': '#DFD8D1' });
                              $(this).addClass('changed');
                          }
                      });

        $("#rpp_refine_tablemonth select").change(
                    function () {
                        if ($(this).val() == '') {
                            $(this).css({ 'background-color': '#ffffcc' });
                            //$(this).removeClass('changed');
                            $(this).addClass('changed');
                            $(this).closest('tr').addClass('changed')
                            $(this).closest('td').prev().find('input').addClass('changed');
                        } else {
                            $(this).css({ 'background-color': '#DFD8D1' });
                            $(this).addClass('changed');
                            var previnput = "#" + $(this).closest('tr').prev().find('input').attr('id');
                            $(previnput).addClass('changed');
                        }
                    });

        $("#rppm_curreff_9").change(function () {
            load_data_prod_plan_month();
        });
        $("#rppmt_curset_adjustment_4,#start_time_hr_ref_edit_act_4,#start_time_min_ref_edit_act_4,#rppm_effcursetka_5").change(function () {
            load_data_prod_plan_month();
        });
        $("#rppmt_monthly_date_1,#start_time_hr_ref_edit_act_1,#start_time_min_ref_edit_act_1,#rppm_cursetka_2").change(function () {
            load_data_prod_plan_month();
        });
    });


</script>
